:root {
  --color-black: #181818;
  --color-light-black: #202020;
  --color-gray: #414141;
  --color-white: #e5e5e5;
  --color-green: #649c5b;
  --color-green-dark: #4b8343;
  --color-red: #d31844;
  --color-red-dark: #aa1d3e;
  --sticker-green: #09ef00;
  --sticker-yellow: #ffff00;
  --sticker-pink: #fd008e;
  --sticker-orange: #ff4c0b;
}

/* soft reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: StickyNotes;
  src: url("../fonts/StickyNotes.otf");
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  min-width: 99vw;
  background-color: var(--color-black);
  color: var(--color-white);
  /* font-family: "Fira Code", monospace; */
  font-family: "Fira Sans", sans-serif;
  padding-top: 6rem;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-light-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border: solid 0.3rem var(--color-light-black);
  border-radius: 5rem;
}

header {
  background-color: var(--color-light-black);
}

header .header-container {
  display: flex;
  justify-content: center;
}

header .logo {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

header .logo img {
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

header .logo h2 {
  font-family: "Fira Sans", sans-serif;
  /* font-family: "Fira Code", monospace; */
  /* font-family: "Ubuntu", sans-serif; */
  font-weight: normal;
  color: var(--color-green);
  font-size: 2rem;
}

header .logo h2 span {
  color: var(--color-white);
  font-weight: bold;
}

.sticker-list-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  background-color: var(--color-gray);
}

.delete {
  background-color: var(--color-gray);
}

.done:hover {
  background-color: var(--color-green-dark);
}

.delete:hover {
  background-color: var(--color-red-dark);
}

.sticker-list-container .sticker-control {
  gap: 1rem;
  width: auto;
  margin-left: 2rem;
}

.sticker-control .done,
.sticker-control .delete {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.75rem 0 0.75rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  filter: none;
  outline: none;
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

.sticker-control .done img {
  filter: none;
  width: 90%;
}

.sticker-control .delete img {
  filter: none;
  width: 100%;
}

.sticker-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light-black);
  padding-bottom: 2rem;
}

.sticker-item {
  background-color: var(--color-white);
  width: 60rem;
  height: 10rem;
  margin: 2rem 0 0.5rem;
  clip-path: polygon(0% 0%, 89.5% 0%, 100% 50%, 89.5% 100%, 0% 100%);
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);

  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.sticker-item:last-of-type {
  margin-bottom: 4rem;
}

.sticker-item-text {
  width: 70%;
  height: 75%;
  background: none;
  border: none;
  outline: none;
  color: #454545;
  font-family: "StickyNotes", cursive;
  font-size: 3rem;
}

.sticker-item span {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

.sticker {
  background-color: var(--color-white);
  width: 60rem;
  height: 10rem;
  margin: 2rem 0 0.5rem;
  clip-path: polygon(0% 0%, 89.5% 0%, 100% 50%, 89.5% 100%, 0% 100%);
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);

  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.sticker-text {
  width: 70%;
  height: 75%;
  background: none;
  border: none;
  outline: none;
  color: #454545;
  font-family: "StickyNotes", cursive;
  font-size: 3rem;
}

.color-control {
  display: flex;
}

.sticker-color {
  width: 30rem;
  height: 4rem;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sticker-control {
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.sticker-control button {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 0.75rem 0 0.75rem;
  border: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
  outline: none;
}

.cancel {
  background-color: var(--color-red);
  color: var(--color-white);
  transition: 0.3s ease;
}

.pin {
  background-color: var(--color-green);
  color: var(--color-white);
  transition: 0.3s ease;
}

.pin:hover {
  background-color: var(--color-green-dark);
}

.cancel:hover {
  background-color: var(--color-red-dark);
}

.sticker-control button img {
  width: 2.5rem;
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

.sticker-text::placeholder {
  color: var(--color-light-black);
  opacity: 0.5;
}

.pink::placeholder {
  color: var(--color-white);
  opacity: 0.6;
}

.color-container {
  height: 100%;
  width: 12rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.sticker-color .color-container .color-one {
  width: 2rem;
  height: 2rem;
  background-color: var(--sticker-green);
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
  cursor: pointer;
  transition: 0.3s ease;
}

.sticker-color .color-container .color-two {
  width: 2rem;
  height: 2rem;
  background-color: var(--sticker-pink);
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
  cursor: pointer;
  transition: 0.3s ease;
}

.sticker-color .color-container .color-three {
  width: 2rem;
  height: 2rem;
  background-color: var(--sticker-yellow);
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
  cursor: pointer;
  transition: 0.3s ease;
}

.color-container .color-one:hover,
.color-container .color-two:hover,
.color-container .color-three:hover {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--color-light-black);
}

.color-text {
  font-weight: 600;
  font-size: 1.2rem;
}

.warning-container {
  height: 3rem;
  display: flex;
  align-items: flex-end;
}

.warning {
  font-size: 1.2rem;
  font-style: italic;
  width: 60rem;
  color: var(--color-red);
}

.add {
  height: 8rem;
  width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add a {
  text-decoration: none;
  outline: none;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  background: none;
  color: var(--color-white);
  cursor: pointer;
  outline: none;
}

.new {
  background-color: var(--color-light-black);
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
  padding: 0.7rem 1.4rem 0.7rem 1rem;
  transform: translateX(5%);
  transition: 0.3s ease;
}

.new:hover {
  color: var(--color-green);
}

.pen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sticker-orange);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
  transition: 0.3s ease;
}

.pen:hover {
  width: 6rem;
  height: 6rem;
}

.add-btn img {
  width: 2rem;
}

footer section {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon-container {
  display: flex;
  gap: 1rem;
}

.link-icon {
  font-size: 3rem;
  color: var(--color-gray);
  transition: 0.3s ease;
  filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

.link-icon:hover {
  color: var(--sticker-orange);
}

.dev {
  color: var(--color-green);
  opacity: 0.5;
}

.me {
  font-weight: bold;
  color: var(--color-white);
}

@media screen and (max-width: 425px) {
  header .logo {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  header .logo img {
    width: 90%;
  }

  header .logo h2 {
    font-size: 1.3rem;
  }

  .add {
    width: 40rem;
    padding-right: 3rem;
  }

  .sticker {
    width: 36rem;
    height: 8.5rem;
    clip-path: polygon(0% 0%, 85.5% 0%, 100% 50%, 85.5% 100%, 0% 100%);
  }

  .sticker-item {
    width: 36rem;
    height: 8.5rem;
    clip-path: polygon(0% 0%, 85.5% 0%, 100% 50%, 85.5% 100%, 0% 100%);
  }

  .sticker-color {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .color-container {
    width: auto;
  }

  .sticker-list-container .sticker-control {
    margin: 0;
  }

  .sticker-control {
    width: 18rem;
    display: flex;
    justify-content: flex-start;
  }

  .sticker-control button {
    font-size: 1.2rem;
    height: 2.75rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .sticker-control button img {
    width: 1.75rem;
  }

  .warning-container {
    width: 100%;
    padding-left: 3rem;
    margin-top: 1rem;
  }

  .sticker-control .done {
    height: 3.25rem;
    width: 3.25rem;
  }

  .sticker-control .delete {
    height: 3.25rem;
    width: 3.25rem;
  }

  .sticker-item-text {
    align-items: none;
    font-size: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sticker-item span {
    display: block;
    transform: translateY(25%);
  }
}

@media screen and (max-width: 375px) {
  .add {
    width: 35rem;
  }

  header .logo h2 {
    font-size: 1.1rem;
  }

  .sticker-item {
    width: 33rem;
    height: 8rem;
    clip-path: polygon(0% 0%, 90.5% 0%, 100% 50%, 90.5% 100%, 0% 100%);
    padding-left: 1rem;
  }

  .sticker {
    width: 33rem;
    height: 8rem;
    clip-path: polygon(0% 0%, 90.5% 0%, 100% 50%, 90.5% 100%, 0% 100%);
  }

  .sticker-control {
    width: 16.5rem;
  }

  .sticker-color {
    width: 16.5rem;
  }
}

@media screen and (max-width: 320px) {
  .add {
    width: 30rem;
    padding-right: 1rem;
  }

  header .logo h2 {
    font-size: 1rem;
  }

  .sticker-item {
    width: 28rem;
    height: 7.5rem;
    clip-path: polygon(0% 0%, 85.5% 0%, 100% 50%, 85.5% 100%, 0% 100%);
    padding-left: 1rem;
  }

  .sticker-item-text {
    width: 65%;
  }

  .sticker {
    width: 28rem;
    height: 7.5rem;
    clip-path: polygon(0% 0%, 85.5% 0%, 100% 50%, 85.5% 100%, 0% 100%);
  }

  .sticker-control {
    width: 14rem;
  }

  .sticker-color {
    width: 14rem;
  }
  .warning {
    font-size: 1.1rem;
  }

  .warning-container {
    width: 100%;
    padding-left: 2rem;
    margin-top: 1rem;
  }

  .cancel img {
    display: none;
  }

  .pin img {
    display: none;
  }

  .sticker-control .done {
    height: 3rem;
    width: 3rem;
  }

  .sticker-control .delete {
    height: 3rem;
    width: 3rem;
  }

  .sticker-text {
    font-size: 2.5rem;
  }
}
